<nav class="navbar navbar-expand-lg fixed-top ftco-navbar-light">
    <div class="container-xl">
        <a class="navbar-brand align-items-center" href="index.html">
        Axole.
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="index.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>


<section class="hero-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-end">
            <div class="col-lg-8">
                <div class="text rellaxHero" data-rellax-speed="-3">
                    <span class="subheading">A Personal Blog</span>
                    <h1 class="mb-3">A<span>xol</span>e.</h1>
                    <div class="row justify-content-end">
                        <div class="col-lg-9">
                            <h2>I am a Blogger &amp; Photographer <br>Based in Philippines</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light ftco-no-pt">
    <div class="container-xl">
            <div class="row">
                <div class="col-md-12 blog-entry d-flex align-items-stretch">
                    <div class="row g-0">
                        <div class="col-md-7">
                            <div class="img rellax" data-rellax-speed="-5" data-rellax-min="-120" data-rellax-max="0" style="background-image: url(images/image_1.jpg);"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="text py-5 ps-md-5 my-lg-5">
                                <p class="meta"><span><i class="fa fa-user me-1"></i>Admin</span> <span><i class="fa fa-calendar me-1"></i>Jan. 30, 2021</span> <span><a href="#"><i class="fa fa-comment me-1"></i> 3 Comments</a></span></p>
                                <h2 class="mb-4"><a href="blog-single.html">Writing A Novel with A Heart</a></h2>
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p><a href="blog-single.html" class="btn-custom">Learn More <span class="ion ion-ios-arrow-round-forward ms-2"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row mt-5 pt-lg-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro py-5 bg-primary">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center mb-lg-4">
                        <h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
                        <p>Far far away, behind the word mountains</p>
                    </div>
                    <div class="col-md-5 border-left d-flex align-items-center">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex align-items-center">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <a href="#" class="btn btn-darken">Subscribe</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

